*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
}
canvas {
  display: block;
}

body {
    margin: 0;
    overflow: hidden; 
}

#embersCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#heading {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    z-index: 2;
}
